DB_URL=
JWT_SECRET=

R2_ACCOUNT_ID=
R2_BUCKET_NAME=vodcoach-vods
R2_THUMBNAIL_BUCKET_NAME=vodcoach-thumbnails
R2_AK_ID=
R2_SAK=

FRONTEND_ORIGIN=http://localhost:3000

# Local Redpanda example:
# REDPANDA_BROKERS=localhost:19092
REDPANDA_BROKERS=

# Aiven Kafka TLS example:
# KAFKA_TLS_ENABLED=true
# KAFKA_CA_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
# KAFKA_CLIENT_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
# KAFKA_CLIENT_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
